{% extends 'buyer-layout.html' %}

{% block body %}

    <div class="ui padded stackable grid"> 
      <div class="four wide column">
        <p>&nbsp</p>
        <p>&nbsp</p>
        <div class="ui raised segment">
            <h1 class="ui dividing header"><i class="ui orange pie chart icon"></i>Statistics </h1>
            <div class="ui list">   
                        <div class="item">
                          Orders
                            <div class="ui large message">                
                                Total Orders
                                <div class="right floated content">                                  
                        {% if current_user.orders.count() == None %}
                                    <div class="two wide column">
                            <div class="ui large right aligned orange label ">{{ current_user.orders.count() }}</div>
                          </div>
                                  {% else%}
                                    <div class="two wide column">
                            <div class="ui large right aligned orange label ">{{ current_user.products.count() }}</div>
                          </div>
                                  {% endif %}
                                </div>
                            </div>
                        </div>

                        <p>&nbsp</p>

                        <div class="item">
                          Purchases
                          <div class="ui large message">                
                                Total Purchases
                                <div class="right floated content">
                                {% for order in Order.select(fn.sum(Order.price).alias('total_purchases')).where((Order.buyer==current_user.id) ) %}
                                  {% if order.total_purchases == None %}
                                    <div class="two wide column">
                                      <div class="ui large right aligned orange label ">${{ 0 }}</div>
                                    </div>
                                  {% else%}
                                    <div class="two wide column">
                                      <div class="ui large right aligned orange label ">${{ order.total_purchases }}</div>
                                    </div>
                                  {% endif %}
                                  {% endfor %}
                                </div>
                          </div>
                        </div>
            </div>
        </div>
<div class="ui raised segment">
            <h1 class="ui dividing header"><i class="ui orange pie chart icon"></i>Confirm order </h1>
            <div class="ui list">   
                        <div class="item">
                          Orders
                            <div class="ui large message">                
                                Total Orders
                                <div class="right floated content">                                  
                        {% if current_user.orders.count() == None %}
                                    <div class="two wide column">
                            <div class="ui large right aligned orange label ">{{ current_user.orders.count() }}</div>
                          </div>
                                  {% else%}
                                    <div class="two wide column">
                            <div class="ui large right aligned orange label ">{{ current_user.products.count() }}</div>
                          </div>
                                  {% endif %}
                                </div>
                            </div>
                        </div>

                        <p>&nbsp</p>

                        <div class="item">
                          Purchases
                          <div class="ui large message">                
                                Total Purchases
                                <div class="right floated content">
                                {% for order in Order.select(fn.sum(Order.price).alias('total_purchases')).where((Order.buyer==current_user.id) ) %}
                                  {% if order.total_purchases == None %}
                                    <div class="two wide column">
                                      <div class="ui large right aligned orange label ">${{ 0 }}</div>
                                    </div>
                                  {% else%}
                                    <div class="two wide column">
                                      <div class="ui large right aligned orange label ">${{ order.total_purchases }}</div>
                                    </div>
                                  {% endif %}
                                  {% endfor %}
                                </div>
                          </div>
                        </div>
            </div>
        </div>

      </div>








      <div class="twelve wide column" >
        <p>&nbsp</p>
        <p>&nbsp</p>  
        <div class="ui segment">
          <div class="ui ">
            <div class="ui padded stackable grid">          
              <div class="ui orange attached message row">
                <div class="two wide column">               
                    <div class="ui ">Product</div>
                  </div>

                  <div class="two wide column">               
                    <div class="ui ">Brand</div>
                  </div>

                  <div class="two wide column">
                    <div class="ui ">Description</div>
                  </div>

                  <div class="two wide column">
                    <div class="ui ">Quantity</div>
                  </div>

                  <div class="two wide column">
                    <div class="ui ">Total price</div>
                  </div>

                  <div class="two wide column">
                    <div class="ui ">Target</div>
                  </div>

                  <div class="two wide column">
                    <div class="ui ">Current</div>
                  </div>

                  <div class="two wide column">
                    <div class="ui ">Status</div>
                  </div>

                </div>
            </div>
          </div>

          <div class="ui " >
              <div class="ui padded stackable grid">
                {% for order in my_orders %}
                {% if list(my_orders).index(order) % 2 == 0 %}
                  <div class="ui row">
                {% else %}
                  <div class="ui teal row">
                {% endif %}
                
                <div class="two wide column">               
                    <div class="ui ">{{ order.stock.product.name }}</div>
                  </div>

                  <div class="two wide column">               
                    <div class="ui ">{{ order.stock.brand.name }}</div>
                  </div>

                  <div class="two wide column">
                    <div class="ui ">{{ order.stock.first_description.description }}</div>
                  </div>

                  <div class="two wide column">
                    <div class="ui ">{{ order.quantity }} x {{ order.stock.quantity }} {{ order.stock.unit.short_name }}</div>
                  </div>

                  <div class="two wide column">
                    <div class="ui ">${{ order.price }}</div>
                  </div>

                  <div class="two wide column">
                    <div class="ui ">{{ order.stock.minimum_quantity }}</div>
                  </div>

                  {% if (Order.select(fn.sum(Order.quantity)).where(Order.stock==order.stock.id).scalar()) == None %}
                              <div class="two wide column">
                      <div class="ui ">{{ 0 }}</div>
                    </div>
                            {% else%}
                              <div class="two wide column">
                      <div class="ui ">{{ (Order.select(fn.sum(Order.quantity)).where(Order.stock==order.stock.id).scalar()) }}</div>
                    </div>
                  {% endif %}

                  {% if order.stock.bought == True and order.ready == False and order.fulfilled == False %}
                    <div class="two wide column">
                      <div class="ui blue label ">Processing</div>
                    </div>
                  {% elif order.stock.bought == True and order.ready == True and order.fulfilled == False %}
                    <div class="two wide column">
                      <div class="ui green label ">Ready</div>
                    </div>
                  {% elif order.stock.bought == True and order.ready == True and order.fulfilled == True %}
                    <div class="two wide column">
                      <div class="ui red label ">Completed</div>
                    </div>
                  {% elif order.stock.bought == False %}
                    <div class="two wide column">
                      <div class="ui yellow label ">Waiting</div>
                    </div>
                  {% endif %}
                 
                </div>


                {% endfor %}
          </div>

        </div>

      </div>
      <div class="column">
    
    <a class="green ui massive button" href="#">Confirm Orders for Shipping</a>
    <div class="ui divider"></div>
     </div>
    </div>



{% endblock %}
