{% extends 'layout.html' %}

<!-- {% block logout %}
 	<div class="ui four wide column">
 		<a class="ui fluid item" href="{{ url_for('logout') }}">
 			<i class="sign out icon"></i>
 			Logout {{ current_user.email }}
 		</a>
 	</div>
 {% endblock %}  --> 

<!-- {% block notifications %}

<div class="right floated three wide column">	
	<div class="ui large dropdown image label" tabindex="0">
	    <i class="setting icon"></i>
		{{ current_user.email }}
			<i class="ui dropdown icon"></i>
		<div class="menu">
		    <a class="item"><i class="orange user icon"></i>Profile</a>
		    <a class="item" href="{{ url_for('logout') }}"><i class="orange sign out icon"></i>Logout</a>
		</div>
			</div>
		</div>

<div class="right floated two wide column">					
					        <div class="ui large dropdown image label" tabindex="0">
					          <i class="cart icon"></i>
					          Orders &nbsp &nbsp
					          <div class="floating circular ui red label">{{ current_user.orders.where(Order.ready==False).count() }}
					          </div>

					          <div class="menu" tabindex="-1" style="height: 400px; overflow-y: scroll;">
					            <div class="ui divided selection list">
								  {% for order in current_user.orders.where(Order.ready==False).order_by(Order.date_ordered.desc()) %}
								  <a class="item">
									<div class="content">
									  <div class="header">
										<i class="right cart icon"></i>
										{{ order.quantity }} x 
										{{ order.stock.quantity }} {{ order.stock.unit.short_name }}
										{{ order.stock.brand.name }}
										{{ order.stock.first_description.description }}
										{{ order.stock.product.name }}
										</div>
									  <div class="">
										Order No: {{ order.id }} <br>
										Price: ${{ order.price }}<br><br>
										<div class="ui info" >
										  <i class="info circle icon"></i>
										  Still waiting for {{ order.stock.minimum_quantity - Order.select(fn.sum(Order.quantity)).where(Order.stock==order.stock.id).scalar() }} units to be ordered
										</div>
									  </div>
									</div>
								  </a>
								  {% endfor %}
								</div>

					          </div>
					        </div>
</div>
					   

<div class="right floated two wide column">     
							<div class="ui large dropdown image label">
							  <i class="alarm icon"></i>
							  Notifications &nbsp
							  <div class="floating circular ui red label">{{ current_user.orders.where(Order.ready==True).count() }}</div>

							<div class="menu" tabindex="-1" style="height: 400px; overflow-y: scroll;">
								<div class="header">
								  Search Notifications
								</div>
								<div class="ui fluid left icon input">
								  <i class="search icon"></i>
								  <input type="text" name="search" placeholder="Search...">
								</div>

								<div class="ui divided selection list">
								  {% for order in current_user.orders.where(Order.ready==True).order_by(Order.date_ordered.desc()) %}
								  <a class="item">
									<div class="content">
									  <div class="header">
										<i class="right cart icon"></i>
										{{ order.quantity }} x 
										{{ order.stock.quantity }} {{ order.stock.unit.short_name }}
										{{ order.stock.brand.name }}
										{{ order.stock.first_description.description }}
										{{ order.stock.product.name }}
										</div>
									  <div class="">
										Order No: {{ order.id }} <br>
										Price: ${{ order.price }}<br><br>
										<div class="ui info" >
										  <i class="shipping icon"></i>
										  Congratulations your order will be shipped on MY BIRTHDAY 
										</div>
									  </div>
									</div>
								  </a>
								  {% endfor %}
								</div>
							  </div>
							 </div>
							</div>


{% endblock %} -->

{% block menu %}
 
<div class="ui inverted segment">
      <a class="ui inverted button" 
      href="{{ url_for('index') }}">

      RoundShopper</a>
      <a class="ui inverted button" 
      href="{{url_for('buyer') }}">
      <i class="dashboard icon"></i>
      Dashboard</a>

      <a class="ui inverted button" 
      href="{{url_for('buyer_feed') }}">
      <i class="shop icon"></i>
      Shop</a>
      <!-- <a class="ui inverted button" href="{{url_for('buyer_make_suggestion') }}">Make Suggestions</a>
      <a class="ui inverted button" href="{{url_for('buyer_how_it_works') }}">How it works</a> -->


      <div class="ui floating search dropdown button">
      <i class="in cart icon"></i>
      <span class="text">New Orders &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
      <div class="floating circular ui red label">
      {{ current_user.orders.where(Order.ready==False).count() }}
	  </div>
      <div class="menu" tabindex="-1" style="height: 500px; overflow-y: scroll;">

      {% for order in current_user.orders.where(Order.ready==False).order_by(Order.date_ordered.desc()) %}

        <div class="item"></div>
       <i class="right cart icon"></i>
										{{ order.quantity }} x 
										{{ order.stock.quantity }} {{ order.stock.unit.short_name }}
										{{ order.stock.brand.name }}
										{{ order.stock.first_description.description }}
										{{ order.stock.product.name }}
		
		<div class="divider"></div>


 {% endfor %}

      </div>

     
    </div>


     <div class="ui floating search dropdown button">
      <i class="alarm icon"></i>
      New Notifications 
	  <div class="floating circular ui red label">{{ current_user.orders.where(Order.ready==True).count() }}
	  </div>
      <div class="menu">
 
        <div class="item">Arabic</div>
        <div class="item">Chinese</div>
        <div class="item">Danish</div>
        <div class="item">Dutch</div>
        <div class="item">English</div>
        <div class="item">French</div>
        <div class="item">German</div>
        <div class="item">Greek</div>
        <div class="item">Hungarian</div>
        <div class="item">Italian</div>
        <div class="item">Japanese</div>
        <div class="item">Korean</div>
        <div class="item">Lithuanian</div>
        <div class="item">Persian</div>
        <div class="item">Polish</div>
        <div class="item">Portuguese</div>
        <div class="item">Russian</div>
        <div class="item">Spanish</div>
        <div class="item">Swedish</div>
        <div class="item">Turkish</div>
        <div class="item">Vietnamese</div>
      </div>
    </div>

   <div class="ui buttons">
      <button class="ui button">Hi {{current_user.email}}</button>
      <div class="ui floating dropdown icon button">
        <i class="dropdown icon"></i>
        <div class="menu">

          <a class="item">
          <i class="edit icon"></i>
          Edit Profile</a>

          <div class="divider"></div>

          <a class="item">
          <i class="heart icon"></i>
          WishList</a>

          <a class="item">
          <i class="info circle icon"></i>
          How it works</a>

          <a class="item">
          <i class="idea icon"></i>
          Suggestions</a>

          <a class="item"  
          href="{{ url_for('logout') }}">
          <i class="sign out icon"></i>
          Log Out
          </a>

        </div>
      </div>
    </div>
    
      
 </div>

{% endblock %}

{% block ajax %}
{% endblock %}
