<div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
      <div class="ui stackable inverted divided grid">
        <div class="three wide column">
          <h4 class="ui inverted header">My Account</h4>
          <div class="ui inverted link list">
            <a href="register.html" class="item">Register</a>
            <a href="#" class="item">Order History</a>
            <a href="#" class="item">Payment</a>
            <a href="#" class="item">Refunds</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Help Center & Support</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">How to Buy</a>
            <a href="#" class="item">How to Sell</a>
            <a href="#" class="item">Delivery Information</a>
            <a href="#" class="item">Suggestions and Feedback</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Supported Places</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Town Center-Chitungwiza</a>
            <a href="#" class="item">Tichagarika(Cooming Soon)</a>
            <a href="#" class="item">Mufakose(Cooming Soon)</a>
            <a href="#" class="item">Budiriro(Cooming Soon)</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">How RoundShopper Works</h4>
          <p>Get a quick tutorial on how Easy and Simple RoundShopper is!</p>
        </div>
      </div>
      <div class="ui inverted section divider"></div>
      <img src="/static/assets/images/logo.png" class="ui centered mini circular image">
      <div class="ui horizontal inverted small divided link list">
        <a class="item" href="#">Site Map</a>
        <a class="item" href="homepage.html">Contact Us</a>
        <a class="item" href="#">Terms and Conditions</a>
        <a class="item" href="#">Privacy Policy</a>

      </div>
    </div>
  </div>


    

   


    <style>
    #owl-demo .item img{
        display: block;
        width: 100%;
        height: auto;
    }
    </style>


    <script>
    $(document).ready(function() {
      $("#owl-demo").owlCarousel({

      navigation : true,
      slideSpeed : 300,
      paginationSpeed : 400,
      singleItem : true

      // "singleItem:true" is a shortcut for:
      // items : 1, 
      // itemsDesktop : false,
      // itemsDesktopSmall : false,
      // itemsTablet: false,
      // itemsMobile : false

      });
    });
    </script>
    <!-- Main Roundshopper Slider Javascript  Properties-->
    <script src="/static/uiux/powerowl/assets/js/jquery-1.9.1.min.js"></script> 
    <script src="/static/uiux/powerowl/owl-carousel/owl.carousel.js"></script>
    <!-- Main Roundshopper Slider Javascript  Properties-->

    <!-- Main Roundshopper Slider Javascript  Properties-->
    <script src="/static/uiux/powerowl/assets/js/bootstrap-collapse.js"></script>
    <script src="/static/uiux/powerowl/assets/js/bootstrap-transition.js"></script>
    <script src="/static/uiux/powerowl/assets/js/bootstrap-tab.js"></script>

    <script src="/static/uiux/powerowl/assets/js/google-code-prettify/prettify.js"></script>
    <script src="/static/uiux/powerowl/assets/js/application.js"></script>
    <!-- Main Roundshopper Slider Javascript  Properties-->

    <!-- Main Roundshopper Slider Javascript  Properties-->
    <script src="/static/uiux/powerowl/assets/js/jquery-1.9.1.min.js"></script> 
    <script src="/static/uiux/powerowl/owl-carousel/owl.carousel.js"></script>
    <!-- Main Roundshopper Slider Javascript  Properties-->
    <!-- Main Roundshopper Slider Javascript  Properties-->
    <script src="/static/uiux/powerowl/assets/js/bootstrap-collapse.js"></script>
    <script src="/static/uiux/powerowl/assets/js/bootstrap-transition.js"></script>
    <script src="/static/uiux/powerowl/assets/js/bootstrap-tab.js"></script>

    <script src="/static/uiux/powerowl/assets/js/google-code-prettify/prettify.js"></script>
    <script src="/static/uiux/powerowl/assets/js/application.js"></script>
    <!-- Main Roundshopper Slider Javascript  Properties-->

  </body>
</html>
