
<!DOCTYPE html>
<html>
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- RoundShopper site Properities -->
  <title>RoundShopper Home</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700' rel='stylesheet' type='text/css'>

<!-- Main RoundShopper Styling Directory Properities -->
    <link rel="stylesheet" type="text/css" href="/static/uiux/semantic-ui/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/static/uiux/semantic-ui/UI-Icon-master/icon.min.css">
    <link rel="stylesheet" type="text/css" href="/static/components/reset.css">
  <link rel="stylesheet" type="text/css" href="/static/components/site.css">
  <link rel="stylesheet" type="text/css" href="/static/components/container.css">
  <link rel="stylesheet" type="text/css" href="/static/components/grid.css">
  <link rel="stylesheet" type="text/css" href="/static/components/header.css">
  <link rel="stylesheet" type="text/css" href="/static/components/image.css">
  <link rel="stylesheet" type="text/css" href="/static/components/menu.css">

  <link rel="stylesheet" type="text/css" href="/static/components/divider.css">
  <link rel="stylesheet" type="text/css" href="/static/components/segment.css">
  <link rel="stylesheet" type="text/css" href="/static/components/form.css">
  <link rel="stylesheet" type="text/css" href="/static/components/input.css">
  <link rel="stylesheet" type="text/css" href="/static/components/button.css">
  <link rel="stylesheet" type="text/css" href="/static/components/list.css">
  <link rel="stylesheet" type="text/css" href="/static/components/message.css">

<!-- Main RoundShopper Styling Directory Properities -->







<!-- Main Roundshopper Slider Styling  Properties-->

    <link rel="stylesheet" href="/static/uiux/powerowl/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/static/uiux/powerowl/assets/css/bootstrapTheme.css">
    <link rel="stylesheet" href="/static/uiux/powerowl/assets/css/custom.css">
    <link rel="stylesheet" href="/static/uiux/powerowl/owl-carousel/owl.theme.css">
    <link rel="stylesheet" href="/static/uiux/powerowl/owl-carousel/owl.transition.css">
<!-- Main Roundshopper Slider Properties-->


<!-- Main RoundShopper Styling Directory Properities -->
  
  <!-- Main RoundShopper Styling Directory Properities -->

<!-- Main Roundshopper Slider Javascript Properties-->


<!-- Main Roundshopper Slider Javascript  Properties-->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script src="/static/uiux/powerowl/owl-carousel/owl.carousel.js"></script> 

  <script src="/static/uiux/powerowl/jquery.min.js"></script>
  <script src="/static/uiux/powerowl/owl-carousel/owl.carousel.min.js"></script>

<!-- Main Roundshopper Slider Javascript Properties-->

 


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

  <script>
  $(document)
    .ready(function() {

      // fix main menu to page on passing
      $('.main.menu').visibility({
        type: 'fixed'
      });
      $('.overlay').visibility({
        type: 'fixed',
        offset: 80
      });

      // lazy load images
      $('.image').visibility({
        type: 'image',
        transition: 'vertical flip in',
        duration: 500
      });

      // show dropdown on hover
      $('.main.menu  .ui.dropdown').dropdown({
        on: 'hover'
      });
    })
  ;
  </script>

  <style type="text/css">

  body {
    background-color: #FFFFFF;
  }
  .main.container {
    margin-top: 2em;
  }

  .main.menu {
    margin-top: 4em;
    border-radius: 0;
    border: none;
    box-shadow: none;
    transition:
      box-shadow 0.5s ease,
      padding 0.5s ease
    ;
  }
  .main.menu .item img.logo {
    margin-right: 1.5em;
  }

  .overlay {
    float: left;
    margin: 0em 3em 1em 0em;
  }
  .overlay .menu {
    position: relative;
    left: 0;
    transition: left 0.5s ease;
  }

  .main.menu.fixed {
    background-color: #FFFFFF;
    border: 1px solid #DDD;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  }
  .overlay.fixed .menu {
    left: 800px;
  }

  .text.container .left.floated.image {
    margin: 2em 2em 2em -4em;
  }
  .text.container .right.floated.image {
    margin: 2em -4em 2em 2em;
  }

  .ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
  }
  </style>

  <style>


  #owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

  </style>



<script>

$(document).ready(function() {
 
  $("#owl-demo").owlCarousel({
 
      navigation : false, // Show next and prev buttons
      slideSpeed : 300,
      paginationSpeed : 400,
      singleItem:true
 
      // "singleItem:true" is a shortcut for:
      // items : 1, 
      // itemsDesktop : false,
      // itemsDesktopSmall : false,
      // itemsTablet: false,
      // itemsMobile : false
 
  });
 
});

</script>

   

    <!-- Owl Carousel Assets -->
    

    <link href="/static/uiux/powerowl/assets/js/google-code-prettify/prettify.css" rel="stylesheet">
  
    <!-- Le fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/uiux/powerowl/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/uiux/powerowl/assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/uiux/powerowl/assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="/static/uiux/powerowl/assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="/static/uiux/powerowl/assets/ico/favicon.png">
  </head>
  <body>

     <!-- div class="ui main text container">
    <h1 class="ui header">Sticky Example</h1>
    <p>This example shows how to use lazy loaded images, a sticky menu, and a simple text container</p>
  </div> -->


	<div class="ui inverted attached menu grid">
		<a class="item">Delivery Information</a>
	    <a class="item">Contact: +263 774 150 929</a>
	    <div class="right menu">
	      <a class="ui teal button" href="{{ url_for('login') }}">Login</a>
	      <a class="ui right floated orange button" href="{{ url_for('register') }}">sign up</a>
		</div>
	</div>


  <div class="ui borderless main menu">
    
      
      
        
  	<div class="ui stackable container menu">
		<a class="item" href={{ url_for('index') }}>
			<img class="ui mini circular image" src="/static/assets/images/logo.png"> &nbsp
			<b>RoundShopper</b>
	  	</a>
	  	
	  	{% for product in products %} 
	  		<a href="{{ url_for('buyer_feed') }}/{{ product.name }}" class="item">{{ product.name }}</a>
	  	{% endfor %} 
	 
	  	<a class="item" href="{{ url_for('buyer_feed') }}">More</a>
  
	</div>
    
    
  </div>

    <div id="demo">
        <div class="container">
          <div class="row">
            <div class="span12">
              <div id="owl-demo" class="owl-carousel">

                <div class="item"><img src="/static/uiux/powerowl/demos/assets/fullimage1.jpg" alt="roundimage1"></div>
                <div class="item"><img src="/static/uiux/powerowl/demos/assets/fullimage2.jpg" alt="roundimage2"></div>
                <div class="item"><img src="/static/uiux/powerowl/demos/assets/fullimage3.jpg" alt="roundimage3"></div>

              </div>
            </div>
          </div>
        </div>
    </div>

    
   <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
      <h4 class="ui horizontal header divider">
        <a href="#">Popular Brands with RoundShopper.com</a>
      </h4>
        <div class="four wide right floated column">
          <img src="/static/assets/images/wireframe/UNILIVER.png" class="ui large bordered rounded image">
        </div>
        <div class="four wide right floated column">
          <img src="/static/assets/images/wireframe/NATIONAL FOODS.png" class="ui large bordered rounded image">
        </div>
        <div class="four wide right floated column">
          <img src="/static/assets/images/wireframe/NESTLE.png" class="ui large bordered rounded image">
        </div>
        <div class="four wide right floated column">
          <img src="/static/assets/images/wireframe/PROBRANDS.png" class="ui large bordered rounded image">
        </div>

        <h4 class="ui horizontal header divider">
        <a href="#"></a>
      </h4>

        
      </div>



      <div class="row">
      <h4 class="ui horizontal header divider">
        <a href="#">Sponsored Brands</a>
      </h4>
        <div class="four wide right floated column">
          <img src="/static/assets/images/wireframe/LYONS.png" class="ui large bordered rounded image">
        </div>
        <div class="four wide right floated column">
          <img src="/static/assets/images/wireframe/PUREDROP.png" class="ui large bordered rounded image">
        </div>
        <div class="four wide right floated column">
          <img src="/static/assets/images/wireframe/VICTORIA FOODS.png" class="ui large bordered rounded image">
        </div>
        <div class="four wide right floated column">
          <img src="/static/assets/images/wireframe/scheps.png" class="ui large bordered rounded image">
        </div>

         <h4 class="ui horizontal header divider">
        <a href="#"></a>
      </h4>

      

      </div>


      <div class="row">
      <h4 class="ui horizontal header divider">
        <a href="#">Brands with massive Promotions Today</a>
      </h4>
        <div class="four wide right floated column">
          <img src="/static/assets/images/wireframe/CAIRNS(1).png" class="ui large bordered rounded image">
        </div>
        <div class="four wide right floated column">
          <img src="/static/assets/images/wireframe/KEFALOS.png" class="ui large bordered rounded image">
        </div>
        <div class="four wide right floated column">
          <img src="/static/assets/images/wireframe/olivine.png" class="ui large bordered rounded image">
        </div>
        <div class="four wide right floated column">
          <img src="/static/assets/images/wireframe/TANGANDA.png" class="ui large bordered rounded image">
        </div>
      </div>
      
    </div>
  </div>

    








   <div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
      <div class="ui stackable inverted divided grid">
        <div class="three wide column">
          <h4 class="ui inverted header">My Account</h4>
          <div class="ui inverted link list">
            <a href="register.html" class="item">Register</a>
            <a href="#" class="item">Order History</a>
            <a href="#" class="item">Payment</a>
            <a href="#" class="item">Refunds</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Help Center & Support</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">How to Buy</a>
            <a href="#" class="item">How to Sell</a>
            <a href="#" class="item">Delivery Information</a>
            <a href="#" class="item">Suggestions and Feedback</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Supported Places</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Town Center-Chitungwiza</a>
            <a href="#" class="item">Tichagarika(Cooming Soon)</a>
            <a href="#" class="item">Mufakose(Cooming Soon)</a>
            <a href="#" class="item">Budiriro(Cooming Soon)</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">How RoundShopper Works</h4>
          <p>Get a quick tutorial on how Easy and Simple RoundShopper is!</p>
        </div>
      </div>
      <div class="ui inverted section divider"></div>
      <img src="/static/assets/images/logo.png" class="ui centered mini circular image">
      <div class="ui horizontal inverted small divided link list">
        <a class="item" href="#">Site Map</a>
        <a class="item" href="homepage.html">Contact Us</a>
        <a class="item" href="#">Terms and Conditions</a>
        <a class="item" href="#">Privacy Policy</a>

      </div>
    </div>
  </div>


    

   <!-- Main Roundshopper Slider Javascript  Properties-->
    <script src="/static/uiux/powerowl/assets/js/jquery-1.9.1.min.js"></script> 
    <script src="/static/uiux/powerowl/owl-carousel/owl.carousel.js"></script>
    <!-- Main Roundshopper Slider Javascript  Properties-->


    <style>
    #owl-demo .item img{
        display: block;
        width: 100%;
        height: auto;
    }
    </style>


    <script>
    $(document).ready(function() {
      $("#owl-demo").owlCarousel({

      navigation : true,
      slideSpeed : 300,
      paginationSpeed : 400,
      singleItem : true

      // "singleItem:true" is a shortcut for:
      // items : 1, 
      // itemsDesktop : false,
      // itemsDesktopSmall : false,
      // itemsTablet: false,
      // itemsMobile : false

      });
    });
    </script>

    <!-- Main Roundshopper Slider Javascript  Properties-->
    <script src="/static/uiux/powerowl/assets/js/bootstrap-collapse.js"></script>
    <script src="/static/uiux/powerowl/assets/js/bootstrap-transition.js"></script>
    <script src="/static/uiux/powerowl/assets/js/bootstrap-tab.js"></script>

    <script src="/static/uiux/powerowl/assets/js/google-code-prettify/prettify.js"></script>
    <script src="/static/uiux/powerowl/assets/js/application.js"></script>
    <!-- Main Roundshopper Slider Javascript  Properties-->

  </body>
</html>
