{% extends 'layout.html' %}

{% block body %}
  <!-- Site Properities -->
  <!-- <title>Register RoundShopper</title>
  <link rel="stylesheet" type="text/css" href="/static/components/reset.css">
  <link rel="stylesheet" type="text/css" href="/static/components/site.css">
  <link rel="stylesheet" type="text/css" href="/static/components/container.css">
  <link rel="stylesheet" type="text/css" href="/static/components/grid.css">
  <link rel="stylesheet" type="text/css" href="/static/components/header.css">
  <link rel="stylesheet" type="text/css" href="/static/components/image.css">
  <link rel="stylesheet" type="text/css" href="/static/components/menu.css">

  <link rel="stylesheet" type="text/css" href="/static/components/divider.css">
  <link rel="stylesheet" type="text/css" href="/static/components/segment.css">
  <link rel="stylesheet" type="text/css" href="/static/components/form.css">
  <link rel="stylesheet" type="text/css" href="/static/components/input.css">
  <link rel="stylesheet" type="text/css" href="/static/components/button.css">
  <link rel="stylesheet" type="text/css" href="/static/components/label.css">
  <link rel="stylesheet" type="text/css" href="/static/components/list.css">
  <link rel="stylesheet" type="text/css" href="/static/components/message.css">  
  <link rel="stylesheet" type="text/css" href="/static/uiux/semantic-ui/UI-Icon-master/icon.min.css">
 -->
 <!--  <script src="/static/assets/library/jquery.min.js"></script>
  <script src="/static/components/form.js"></script>
  <script src="/static/components/transition.js"></script>

  <script src="/static/assets/library/jquery.min.js"></script>
  <script src="/static/components/form.js"></script>
  <script src="/static/components/transition.js"></script> -->


   <style type="text/css">

  body {
    background-color: #FFFFFF;
  }

  .image {
    margin-top: -100px;
  }
  
  .column {
    max-width: 450px;
  }

  .main.container {
    margin-top: 2em;
  }

  .main.menu {
    margin-top: 4em;
    border-radius: 0;
    border: none;
    box-shadow: none;
    transition:
      box-shadow 0.5s ease,
      padding 0.5s ease
    ;
  }
  .main.menu .item img.logo {
    margin-right: 1.5em;
  }

  .overlay {
    float: left;
    margin: 0em 3em 1em 0em;
  }
  .overlay .menu {
    position: relative;
    left: 0;
    transition: left 0.5s ease;
  }

  .main.menu.fixed {
    background-color: #FFFFFF;
    border: 1px solid #DDD;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  }
  .overlay.fixed .menu {
    left: 800px;
  }

  .text.container .left.floated.image {
    margin: 2em 2em 2em -4em;
  }
  .text.container .right.floated.image {
    margin: 2em -4em 2em 2em;
  }

  .ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
  }
  </style>
<!--
  <script>
    $(document)
      .ready(function() {
        $('.ui.form')
          .form({
            fields: {
              email: {
                identifier  : 'email',
                rules: [
                  {
                    type   : 'empty',
                    prompt : 'Please enter your e-mail'
                  },
                  {
                    type   : 'email',
                    prompt : 'Please enter a valid e-mail'
                  },
                  {
                    type   : 'shopname',
                    prompt : 'Please enter your shop name'
                  }
                ]
              },
              password: {
                identifier  : 'password',
                rules: [
                  {
                    type   : 'empty',
                    prompt : 'Please enter your password'
                  },
                  {
                    type   : 'length[6]',
                    prompt : 'Your password must be at least 6 characters'
                  }
                ]
              }
            }
          })
        ;
      })
    ;
  </script>
-->
</head>
<body>
<div class="ui middle aligned center aligned grid">
  <div class="row">
    <p>&nbsp</p>
    <p>&nbsp</p>
  </div>
  <div class="row">
    <div class="column">
      <h2 class="ui teal image header">
      
        <img src="/static/assets/images/logo.png"  class="image">
      

        <div class="ui orange header">

          Register and Enjoy Group buying discounts.
        </div>

      </h2>

      <form method="POST" action="" class="ui large form segment">
        {% from 'macros.html' import render_field %}

        {{ form.hidden_tag() }}
        {% for field in form %}
          {{ render_field(field) }}
        {% endfor %}
        
        <button class="ui fluid large teal submit button" type="submit" id="submit">Register.</button>
      </form>

      <div class="ui message">
        Already have an Account? <a href="{{ url_for('login') }}">Login here.</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

</body>

</html>
